---
import Page from "../layouts/Page.astro";
import { SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
const posts = (await getCollection("blog"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .reverse()
  .slice(0, 3);
---

<Page title="Blog" description={SITE_DESCRIPTION}>
  <ul>
    {
      posts.map((post) => (
        <li>
          <div>
            <a href={`/blog/${post.slug}/`}>
              {post.data.heroImage && <img src={post.data.heroImage} alt={post.data.heroAltText} />}
            </a>
          </div>
          <div>
            {post.data.postCategory && (
              <a href={post.data.categorySlug}>
                <p class="category">{post.data.postCategory}</p>
              </a>
            )}
            <a href={`/blog/${post.slug}/`}>
              <h4 class="title">{post.data.title}</h4>
            </a>
            <a href={`/authors/${post.data.authorSlug}`}>{post.data.author}</a>
            <p class="date">
              <FormattedDate date={post.data.pubDate} />
            </p>

            <p>{post.data.excerpt}</p>
            <a href={`/blog/${post.slug}/`}>Read more</a>
          </div>
        </li>
      ))
    }
  </ul>
</Page>
