---
import Page from "../layouts/Page.astro";
import { SITE_DESCRIPTION } from "../consts";
import LinkButton from "@components/LinkButton.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import HeroImage from "../components/HeroImage.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .reverse()
  .slice(0, 3);
---

<Page title="Homepage" description={SITE_DESCRIPTION}>
  <div class="mb-10">
    {
      posts.map((post) => (
        <>
          <div class="mt-10 first:mt-0">
            {post.data.heroImage && (
              <HeroImage imagePath={post.data.heroImage} altText={post.data.heroAltText ? post.data.heroAltText : ""} />
            )}
            <div class="metadata text-center">
              {post.data.postCategory && (
                <a href={post.data.categorySlug} class="no-underline">
                  <span class="uppercase text-xs">{post.data.postCategory}</span>
                </a>
              )}
              <a href={`/blog/${post.slug}/`} class="no-underline">
                <h2 class="text-4xl font-normal font-sans mb-1 mt-0">{post.data.title}</h2>
              </a>
              <p class="uppercase text-xs">
                <a href={`/authors/${post.data.authorSlug}`} class="no-underline">
                  {post.data.author}
                </a>
                <span> | </span>
                <FormattedDate date={post.data.pubDate} />
              </p>
            </div>
            <p>{post.data.excerpt}</p>
            <div class="text-center">
              <LinkButton url={`/blog/${post.slug}/`} linkText="Read more" />
            </div>
          </div>
          <hr />
        </>
      ))
    }
  </div>
</Page>
