---
import Page from "../../layouts/Page.astro";
import { SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import CoverImage from "../../components/CoverImage.astro";
import PageHeader from "../../components/PageHeader.astro";

import LinkButton from "../../components/LinkButton.astro";

const issues = (await getCollection("issues")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Page title="Issues" description={SITE_DESCRIPTION}>
  <PageHeader title="Issue Archives" />
  <div class="container mb-20 grid grid-cols-4 gap-8 text-center">
    {
      issues.map((issue) => (
        <div class="w-full">
          <a href={`/issues/${issue.slug}/`}>
            <CoverImage imagePath={issue.data.coverImage ?? ""} altText={`Cover of ${issue.data.title}`} />
          </a>
          <LinkButton url={`/issues/${issue.slug}/`} linkText={issue.data.title} />
          <p class="mb-0">
            <FormattedDate date={issue.data.pubDate} />
          </p>
          <p class="mt-0">Year {issue.data.volumeNumber}</p>
        </div>
      ))
    }
  </div>
</Page>
