---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar.astro";
import SideBar from "./SideBar.astro";
import Footer from "../components/Footer.astro";
import Subfooter from "../components/Subfooter.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const { 
  sidebarVisible,
  // Optional BaseHead props
  title,
  description,
  image,
  imageAlt,
  excerpt,
  articleType,
  publishedTime,
  authorName,
  section,
  twitterCreator
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead 
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      image={image}
      imageAlt={imageAlt}
      excerpt={excerpt}
      articleType={articleType}
      publishedTime={publishedTime}
      authorName={authorName}
      section={section}
      twitterCreator={twitterCreator}
    />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <NavBar />
    <div
      class="container w-full flex flex-col sm:flex-row flex-grow overflow-hidden mt-10 mb-20 font-serif text-lsq-black max-w-5xl antialiased prose"
    >
      <main role="main" class={`w-full h-full flex-grow p-3 ${sidebarVisible && "md:pr-20"}`}>
        <slot />
      </main>
      {sidebarVisible && <SideBar />}
    </div>
    <Subfooter />
    <Footer />
  </body>
</html>
