---
import type { CollectionEntry } from "astro:content";
import PageContainer from "../components/PageContainer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import HeroImage from "../components/HeroImage.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, heroImage, heroAltText, pubDate, author, authorSlug, postCategory, categorySlug } = Astro.props;
---

<PageContainer>
  <div>
    {heroImage && <HeroImage imagePath={heroImage} altText={heroAltText} />}
  </div>
  <div>
    <h1 class="font-sans antialiased font-normal mb-0">{title}</h1>
    <p class="uppercase text-xs">
      <a href={authorSlug} class="no-underline">{author}</a> | <FormattedDate date={pubDate} />
    </p>
    <div class="mt-3 mb-6 border-b-subfooter border-lsq-orange w-20"></div>
    <slot />
    <p class="uppercase text-xs mt-10">Posted in <a href={categorySlug}>{postCategory}</a></p>
  </div>
  <!-- TODO: Add prev/next links -->
</PageContainer>
