---
import type { CollectionEntry } from "astro:content";
import PageContainer from "../components/PageContainer.astro";
type Props = CollectionEntry<"issues">["data"];

const { title, pubDate, stories, authors } = Astro.props;

const storiesList = stories.map((storyTitle, i) => {
  return `${storyTitle} by ${authors[i]}`;
});
---

<PageContainer>
  <h1>{title}</h1>
  <h2>{pubDate}</h2>
  <slot />
  <ul>
    {storiesList.map((story) => <li>{story}</li>)}
  </ul>
</PageContainer>
