---
import type { CollectionEntry } from "astro:content";
import PageContainer from "../components/PageContainer.astro";
import PageHeader from "../components/PageHeader.astro";

import LinkButton from "../components/LinkButton.astro";
import CoverImage from "../components/CoverImage.astro";
type Props = CollectionEntry<"issues">["data"];

const {
  title,
  pubDate,
  stories,
  authors,
  gumroadLink,
  weightlessLink,
  kindleLink,
  koboLink,
  coverImage,
  amazonLink,
  artistLink,
  artistName,
  coverTitle,
  isbn10,
  isbn13,
} = Astro.props;

const authorsList = authors.map((author) => {
  const authorSlug = author.replace(/[.\s]+/g, "-").toLowerCase();
  return { author, authorSlug };
});
---

<PageContainer>
  <PageHeader title={title} pubDate={pubDate} />
  <div class="container w-full flex flex-col sm:flex-row overflow-hidden mb-20 max-w-5xl">
    <div class="w-full h-full p-3 max-w-80">
      <CoverImage imagePath={coverImage ?? ""} altText={`Cover of ${title}`} />
      <div>
        <p class="mt-0 mb-0"><span class="font-bold">ISBN-10:</span> {isbn10}</p>
        <p class="mt-0 mb-0"><span class="font-bold">ISBN-13:</span> {isbn13}</p>
        <p class="mt-4 mb-0">Choose a gorgeous print edition:</p>
        <LinkButton url={amazonLink} linkText="Amazon" />

        <p class="mt-4 mb-0">
          Buy a digital copy direct from us: <span class="text-xs">(Includes EPUB, MOBI &amp; PDF, DRM-free!)</span>
        </p>
        <LinkButton url={gumroadLink} linkText="Gumroad" />

        <p class="mt-4 mb-0">Or buy digital from our retailers:</p>
        <LinkButton url={weightlessLink} linkText="Weightless Books" />
        <LinkButton url={koboLink} linkText="Kobo" />
        <LinkButton url={kindleLink} linkText="Kindle" />
      </div>
    </div>
    <div class="w-full h-full p-3 lg:ml-4">
      <slot />
      <h2 class="mt-10 mb-4 font-sans">Cover art</h2>
      <p>
        The cover art for this issue is <span class="italic">"{coverTitle}"</span> by {artistName}. See more of their
        work at <a href={artistLink}>their website</a>.
      </p>
      <h2 class="mt-10 mb-4 font-sans">Table of Contents</h2>
      <ul class="list-disc≈">
        {
          stories.map((story, i) => (
            <li>
              <span class="italic">"{story}"</span> by{" "}
              <a href=`/authors/${authorsList[i].authorSlug}` class="text-xs uppercase">
                {authorsList[i].author}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</PageContainer>
